// Google fonts
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
$base-font: "Varela Round", sans-serif;
$base-color: #384047;
$dark-blue: #637a91;
$green: #3ac162;
$red: #EB585C;
$bg-gray: #EDEFF0;

body {
  padding: 30px;
  color: $base-color;
  font-family: $base-font;
  font-size: 13px;
  line-height: 18px;
  background-color: $bg-gray;
}

p, ol, ul, td {
  font-family: $base-font;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $green;
}

.field_with_errors {
  padding: 2px;
  background-color: $red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: $red;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
h1 {
  margin-top: 0px;
}
h2, h3, h5 {
  margin:0;
}
h3 {
  font-size: 22px;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-group-item span {
  font-weight: bold;
}
.panel {
  border: none !important;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1) !important;
}
.panel-body span {
  color:#A5A7A5;
}
.panel-success {
  border-color: $green !important;
  .panel-heading {
    display: flex;
    justify-content: space-between;
    color: white !important;
    background-color: $green !important;
    border-color: $green !important;
    background-image: none !important;
    border-bottom: none !important;
    a {
      color: white !important;
    }
  }
}
.panel-default {
  border-color: $dark-blue !important;
  .panel-heading {
    display: flex;
    justify-content: space-between;
    color: white !important;
    background-color: $dark-blue !important;
    border-color: $dark-blue !important;
    background-image: none !important;
    border-bottom: none !important;
    a {
      color: white !important;
    }
    .badge {
      color: white !important;
      background-color: #546777 !important;
    }
  }
}

.label-new {
  position: absolute;
  top: 25px;
  left: 90px;
  padding: 1px 5px;
  font-size: 10px;
  color: #fff;
  background-color: $green;
  border-radius: 4px;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-form {
  background: #fff;
  padding: 10px;
  margin-bottom: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
  .glyphicon-search {
    font-size: 20px;
  }
  input[type=search] {
    font-size: 14px;
    color: #576366;
    padding: 12px 15px;
    border: none;
    box-shadow: 0;
    transition: .2s;
    flex-grow: 1;
    outline: none;
  }
  input[type=submit] {
    font-size: 20px;
    outline: none !important;
    border: none !important;
  }
}
