body {
  padding: 30px;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h2, h3, h5 {
  margin:0;
}
h3 {
  font-size: 22px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  color: gold;
  border-radius: 3px;
  width:35px;
  height: 45px;
  background-color: #3175B0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.glyphicon-plus {
  font-size: 18px;
  color: white;
}
.glyphicon-plus:hover {
  transform: scale(1.1);
}

.glyphicon-triangle-top {
  color: gold;
  margin-bottom: 5px;
}
.glyphicon-triangle-top:hover {
  transform: scale(1.2);
}
.list-group-item h3 {
  text-align: center;
  flex-grow: 1;
}
.glyphicon-option-vertical {
  font-size: 16px;
  color:#C5C5C5;
}
.glyphicon-option-vertical:hover {
  transform: scale(1.15);
}
a:hover {
  color:black;
  background-color: transparent;
  text-decoration: none;
}
.panel-body span {
  color:#A5A7A5;
}
.panel-heading {
  display: flex;
  justify-content: space-between;
}
